{% extends '@FerienpassCms/fragment/_container.html.twig' %}
                        {% import "@FerienpassCore/Macro/offer.html.twig" as offer_macro %}

{% block container %}

    {% macro status_badge(attendance, applicationSystem) %}

        {% if attendance.isWithdrawn %}
            <p class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium bg-red-100 text-red-800 whitespace-nowrap">
                <span class="block -ml-1 mr-1.5 h-4 w-4 text-red-500">{{ source('@FerienpassCore/Icons/x-solid.svg') }}</span>
                abgesagt
            </p>
        {% elseif attendance.offer.isCancelled %}
            <p class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium bg-red-100 text-red-800 whitespace-nowrap">
                <span class="block -ml-1 mr-1.5 h-4 w-4 text-red-500">{{ source('@FerienpassCore/Icons/x-solid.svg') }}</span>
                Angebot abgesagt
            </p>
        {% elseif attendance.isErrored %}
            <p class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium bg-red-100 text-red-800 whitespace-nowrap">
                <span class="block -ml-1 mr-1.5 h-4 w-4 text-red-500">{{ source('@FerienpassCore/Icons/x-solid.svg') }}</span>
                fehlerhaft
            </p>
        {% elseif attendance.isWaiting or (applicationSystem and applicationSystem.task and applicationSystem.task.hideStatus|default) or (attendance.offer.edition and not attendance.offer.edition.activeTasks('allocation').isEmpty) %}
            <p class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium bg-gray-100 text-gray-800 whitespace-nowrap">
                <span class="block -ml-1 mr-1.5 h-4 w-4 text-gray-400">{{ source('@FerienpassCore/Icons/refresh-solid.svg') }}</span>
                nicht zugeteilt
            </p>
        {% elseif attendance.isConfirmed %}
            <p class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium bg-green-100 text-green-800 whitespace-nowrap">
                <span class="block -ml-1 mr-1.5 h-4 w-4 text-green-500">{{ source('@FerienpassCore/Icons/check-solid.svg') }}</span>
                nimmt teil
            </p>
        {% elseif attendance.isWaitlisted %}
            <p class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium bg-yellow-100 text-yellow-800 whitespace-nowrap">
                <span class="block -ml-1 mr-1.5 h-4 w-4 text-yellow-500">{{ source('@FerienpassCore/Icons/upload-solid.svg') }}</span>
                Warteliste
            </p>
        {% endif %}
    {% endmacro %}


    <div class="pb-12 divide-y divide-gray-200 dark:divide-gray-700 space-y-12">

        {% set editions = attendances|map(
            f => f.offer.edition ?? null)|reduce(
            (unique, item) => not item or item in unique ? unique : unique|merge([item]), []
            ) %}

        {% for edition in editions %}

            <div class="">

                <h3 class="text-lg font-bold leading-6 text-gray-900 dark:text-gray-50 dark:text-gray-50">{{ edition.name }}: <span
                            class="font-medium">Anmeldungen</span></h3>

                <table class="mt-4 min-w-full divide-y divide-gray-300">
                    <thead>
                    <tr>
                        <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 dark:text-gray-50 sm:pl-0">
                            Veranstaltung
                        </th>
                        <th scope="col"
                            class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 dark:text-gray-50">
                            Teilnehmer:in
                        </th>
                        <th scope="col"
                            class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 dark:text-gray-50 md:table-cell">
                            Anmeldung
                        </th>
                        <th scope="col"
                            class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 dark:text-gray-50 sm:table-cell">
                            Priorit채t
                        </th>
                        <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                            <span class="sr-only">Edit</span>
                        </th>
                    </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200">
                    {% for attendance in attendances|filter(a => a.offer.edition == edition) %}
                        {% set applicationSystem = attribute(applicationSystems, attendance.id) %}
                        <tr>
                            <td class="w-full max-w-0 py-4 pl-4 pr-3 text-sm font-medium text-gray-900 dark:text-gray-50 sm:w-auto sm:max-w-none sm:pl-0">
                                <a class="block hover:underline font-medium"
                                   href="{{ path('offer_details', { alias: attendance.offer.alias }) }}">{{ attendance.offer.name }}</a>
                                <span class="block">{{ offer_macro.date_combined(attendance.offer.dates) }}</span>

                                <dl class="font-normal lg:hidden">
                                    <dt class="sr-only md:hidden">Anmeldung</dt>
                                    <dd class="mt-1 truncate text-gray-500 dark:text-gray-200 md:hidden">
                                        {{ _self.status_badge(attendance, applicationSystem) }}
                                    </dd>
                                    <dt class="sr-only sm:hidden">Priorit채t</dt>
                                    <dd class="mt-1 truncate text-gray-500 dark:text-gray-200 sm:hidden">

                                        {% if attendance.task and attendance.task.maxApplications %}
                                            <div class="flex items-center space-x-1">
                                                <p class="mt-0.5">
                                                    <span class="sr-only">Priorit채t {{ attendance.userPriority }}</span>
                                                    <span aria-hidden="true" class="flex items-center -ml-1">
                                                        {% for i in attendance.task.maxApplications..1 %}
                                                            {% if attendance.userPriority > i %}
                                                                <span class="block h-4 w-4 text-gray-300">{{ source('@FerienpassCore/Icons/star-solid.svg') }}</span>
                                                            {% else %}
                                                                <span class="block h-4 w-4 text-yellow-500">{{ source('@FerienpassCore/Icons/star-solid.svg') }}</span>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </span>
                                                </p>

                                                {% set form = attribute(prioritize, attendance.id)|default %}
                                                {% if form %}
                                                    {% do form.submit.setRendered %}
                                                    {{ form_start(form) }}
                                                    <button type="submit"
                                                            class="inline-flex items-center text-xs leading-4 font-semibold hover:underline text-primary-700"
                                                            name="{{ form.submit.vars['full_name'] }}"
                                                            id="{{ form.submit.vars['id'] }}">
                                                        <span class="block w-6 h-6">{{ source('@FerienpassCore/Icons/chevron-up-solid.svg') }}</span>
                                                        {{ form.submit.vars['label'] }}
                                                    </button>
                                                    {{ form_end(form) }}
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    </dd>
                                </dl>
                            </td>
                            <td class="px-3 py-4 text-sm text-gray-500 dark:text-gray-200">{{ attendance.participant.firstname }}</td>
                            <td class="hidden px-3 py-4 text-sm text-gray-500 dark:text-gray-200 md:table-cell">
                                {{ _self.status_badge(attendance, applicationSystem) }}
                            </td>
                            <td class="hidden px-3 py-4 text-sm text-gray-500 dark:text-gray-200 sm:table-cell">


                                {% if attendance.task and attendance.task.maxApplications %}
                                    <div class="flex items-center space-x-1">
                                        <p class="mt-0.5">
                                            <span class="sr-only">Priorit채t {{ attendance.userPriority }}</span>
                                            <span aria-hidden="true" class="flex items-center -ml-1">
                                                {% for i in attendance.task.maxApplications..1 %}
                                                    {% if attendance.userPriority > i %}
                                                        <span class="block h-4 w-4 text-gray-300">{{ source('@FerienpassCore/Icons/star-solid.svg') }}</span>
                                                    {% else %}
                                                        <span class="block h-4 w-4 text-yellow-500">{{ source('@FerienpassCore/Icons/star-solid.svg') }}</span>
                                                    {% endif %}
                                                {% endfor %}
                                            </span>
                                        </p>

                                        {% set form = attribute(prioritize, attendance.id)|default %}
                                        {% if form %}
                                            {% do form.submit.setRendered %}
                                            {{ form_start(form) }}
                                            <button type="submit"
                                                    class="inline-flex items-center text-xs leading-4 font-semibold hover:underline text-primary-700"
                                                    name="{{ form.submit.vars['full_name'] }}"
                                                    id="{{ form.submit.vars['id'] }}">
                                                <span class="block w-6 h-6">{{ source('@FerienpassCore/Icons/chevron-up-solid.svg') }}</span>
                                                {{ form.submit.vars['label'] }}
                                            </button>
                                            {{ form_end(form) }}
                                        {% endif %}
                                    </div>
                                {% endif %}

                            </td>
                            <td class="py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
                                {% set form = attribute(withdraw, attendance.id)|default %}
                                {% if form %}
                                    {% do form.submit.setRendered %}
                                    {{ form_start(form) }}
                                    <button type="submit"
                                            class="inline-flex hover:underline text-red-700"
                                            name="{{ form.submit.vars['full_name'] }}"
                                            id="{{ form.submit.vars['id'] }}">
                                        Abmelden
                                    </button>
                                    {{ form_end(form) }}
                                {% elseif attendance.isWithdrawn or (attendance.offer.dates|first and attendance.offer.dates|first.begin <= date()) %}
                                {% elseif attendance.offer.applicationDeadline and date() >= attendance.offer.applicationDeadline %}
                                    <p class="text-xs">Abmeldezeitraum beendet. Bitte beim Veranstalter
                                        melden.</p>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        {% else %}

            <p>Es sind keine Anmeldungen vorhanden.</p>

        {% endfor %}

        {% for period in payDays %}
            <twig:Cms:PayFees payDays="{{ period }}" class="pt-12"/>
        {% endfor %}

    </div>

{% endblock %}
