{% extends '@FerienpassCms/fragment/_container.html.twig' %}

{% block container %}

    <div class="pb-12">

        {% if edition is not defined %}

            <div class="flex items-center justify-center">
                <span class="h-16 w-16 text-gray-400 mr-4">{{ source('@FerienpassCore/Icons/emoji-sad.svg') }}</span>
                <p class="text-gray-600 text-2xl">Leider sind aktuell keine Ferienpass-Angebote veröffentlicht.</p>
            </div>

        {% else %}

            {% include '@FerienpassCore/Component/divider_title_left.html.twig' with { title: "Angebote filtern" } %}

            <div class="mt-2 sm:flex items-center sm:space-x-6 space-y-4 sm:space-y-0">
                <div>

                    <a href="{{ path(app.current_route, app.current_route_parameters|merge({filter: 1})) }}"
                       data-turbo-frame="modal"
                       rel="nofollow"
                       class="inline-flex items-center pl-3 pr-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500">
                        <span class="block h-5 w-5 mr-1">{{ source('@FerienpassCore/Icons/filter-outline.svg') }}</span>
                        Weitere Filter…
                    </a>

                    {% if filterForm is not null %}

                        <turbo-frame id="modal">

                            <div class="bg-primary-700 px-4 py-6 sm:px-6">
                                <h2 class="text-base font-semibold leading-6 text-white" id="slide-over-title">Angebote
                                    filtern</h2>
                                <div class="mt-1">
                                    <p class="text-sm text-primary-300">Hier können Sie die angezeigten Angebote
                                        reduzieren.</p>
                                </div>
                            </div>

                            <div class="px-4 pt-5 pb-4 sm:p-6">

                                {{ form_start(filterForm, { attr: { 'data-turbo-frame' : '_top'}}) }}

                                <div class="grid gap-3 grid-cols-8">

                                    <div class="col-span-2">
                                        {{ form_label(filterForm.name, null) }}
                                        {{ form_widget(filterForm.name) }}
                                    </div>

                                    <div class="">
                                        {{ form_label(filterForm.age, null) }}
                                        {{ form_widget(filterForm.age) }}
                                    </div>
                                    <div class="">
                                        {{ form_label(filterForm.fee, null) }}
                                        {{ form_widget(filterForm.fee) }}
                                    </div>

                                    <div class="col-span-2">
                                        {{ form_label(filterForm.earliest_date, null) }}
                                        {{ form_widget(filterForm.earliest_date) }}
                                    </div>
                                    <div class="col-span-2">
                                        {{ form_label(filterForm.latest_date, null) }}
                                        {{ form_widget(filterForm.latest_date) }}
                                    </div>

                                    <div class="mt-6">
                                        {{ form_row(filterForm.favorites) }}
                                    </div>

                                </div>

                                <div class="border-t border-gray-200 pt-6 flex justify-end">
                                    {{ form_row(filterForm.submit) }}
                                </div>

                                {{ form_end(filterForm) }}
                            </div>

                        </turbo-frame>

                    {% endif %}

                </div>
            </div>

            <div class="px-4 sm:px-0">
                {% include '@FerienpassCore/Component/divider_title_left.html.twig' with { title: "Alle Angebote" } %}
            </div>

            <div class="px-4 sm:px-0">

                <div class="mt-2 mb-6">

                    {% for attr, filterValue in filter.humanReadable %}

                        <span class="inline-flex rounded-full items-center py-0.5 pl-2.5 pr-1 text-sm font-normal bg-primary-100 text-primary-700">
                            <span>{{ filterValue|trans }}</span>
                            <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({(attr): null, page: null})) }}"
                               class="flex-shrink-0 ml-0.5 h-4 w-4 rounded-full inline-flex items-center justify-center text-primary-400 hover:bg-primary-200 hover:text-primary-500 focus:outline-none focus:bg-primary-500 focus:text-white">
                                <span class="sr-only">Lösche Filter</span>
                                <span class="block h-3 w-3">{{ source('@FerienpassCore/Icons/x-solid.svg') }}</span>
                            </a>
                        </span>

                    {% endfor %}

                </div>
            </div>

            {% include '@FerienpassCore/Partial/offer_list.html.twig' with { offers: pagination.results } %}

            {% if pagination.hasToPaginate %}
                <div class="py-10">
                    {% include '@FerienpassCms/fragment/_pagination.html.twig' %}
                </div>
            {% endif %}

        {% endif %}
    </div>

{% endblock %}
