{% macro steps(current) %}

    <nav aria-label="Progress">
        <ol role="list" class="space-y-4 md:flex md:space-x-8 md:space-y-0">
            <li class="md:flex-1">
                <button
                        data-action="live#emit"
                        data-live-event-param="proceedToSelect"
                        class="group block w-full text-left flex flex-col border-l-4 py-2 pl-4 {{ ('select' == current or 'address' == current or 'confirm' == current) ? 'border-primary-600 dark:border-primary-300 hover:border-primary-800 dark:hover:border-primary-400' : 'border-gray-200 dark:border-gray-700 hover:border-gray-300 dark:hover:border-gray-600' }} md:border-l-0 md:border-t-4 md:pb-0 md:pl-0 md:pt-4">
                    <span class="text-sm font-medium {{ ('select' == current or 'address' == current or 'confirm' == current) ? 'text-primary-600 dark:text-primary-300 group-hover:text-primary-800 dark:group-hover:text-primary-400' : 'text-gray-500 dark:text-gray-500 group-hover:text-gray-700 dark:group-hover:text-gray-400' }}">Schritt
                        1</span>
                    <span class="text-sm font-medium text-black dark:text-gray-300">Angebote zur Zahlung auswählen</span>
                </button>
            </li>
            <li class="md:flex-1">
                <button
                        data-action="live#emit"
                        data-live-event-param="proceedToAddress"
                        class="group block w-full text-left flex flex-col border-l-4 {{ ('address' == current or 'confirm' == current) ? 'border-primary-600 dark:border-primary-300 hover:border-primary-800 dark:hover:border-primary-400' : 'border-gray-200 dark:border-gray-700 hover:border-gray-300 dark:hover:border-gray-600' }} py-2 pl-4 md:border-l-0 md:border-t-4 md:pb-0 md:pl-0 md:pt-4"
                        aria-current="step">
                    <span class="text-sm font-medium {{ ('address' == current or 'confirm' == current) ? 'text-primary-600 dark:text-primary-300 group-hover:text-primary-800 dark:group-hover:text-primary-400': 'text-gray-500 dark:text-gray-500 group-hover:text-gray-700 dark:group-hover:text-gray-400' }}">Schritt
                        2</span>
                    <span class="text-sm font-medium text-black dark:text-gray-300">Rechnungsadresse eingeben</span>
                </button>
            </li>
            <li class="md:flex-1">
                <button
                        data-action="live#emit"
                        data-live-event-param="proceedToConfirm"
                        class="group block w-full text-left flex flex-col border-l-4 py-2 pl-4 {{ ('confirm' == current) ? 'border-primary-600 dark:border-primary-300 hover:border-primary-800 dark:hover:border-primary-400' : 'border-gray-200 dark:border-gray-700 hover:border-gray-300 dark:hover:border-gray-600' }} md:border-l-0 md:border-t-4 md:pb-0 md:pl-0 md:pt-4">
                    <span class="text-sm font-medium {{ ('confirm' == current) ? 'text-primary-600 dark:text-primary-300 group-hover:text-primary-800 dark:group-hover:text-primary-400' : 'text-gray-500 dark:text-gray-500 group-hover:text-gray-700 dark:group-hover:text-gray-400' }}">Schritt
                        3</span>
                    <span class="text-sm font-medium text-black dark:text-gray-300">Eingaben prüfen</span>
                </button>
            </li>
        </ol>
    </nav>

{% endmacro %}


<div {{ attributes }}>

    {% if this.attendances is not empty %}

        <div>

            {% if "select" == step %}

                {{ _self.steps(step) }}

                <div class="mt-12">
                    <h2 class="text-lg leading-6 font-medium text-gray-900 dark:text-white">Angebote zur Zahlung auswählen</h2>
                    <p class="mt-1 text-sm text-gray-500 dark:text-gray-200">Wählen Sie die Angebote aus, die Sie jetzt buchen wollen.
                        Angebote, die Sie jetzt nicht buchen, können Sie innerhalb der Frist später bezahlen, werden
                        aber nach der Frist storniert.</p>
                </div>

                {% for participant in this.participants %}
                    {% set attendances = this.attendances|filter(a => a.participant == participant) %}

                    <fieldset class="mt-8">
                        <legend class="text-base font-semibold leading-6 text-gray-900 dark:text-gray-50">{{ participant.name }}</legend>
                        <div class="mt-4 divide-y divide-gray-200 dark:divide-gray-800 border-b border-t border-gray-200 dark:border-gray-800">
                            {% for attendance in attendances %}
                                <div class="relative flex items-start py-4">
                                    <div class="min-w-0 flex-1 text-sm leading-6">
                                        <label for="{{ "attendance-#{attendance.id}" }}"
                                               class="select-none flex justify-between">
                                            <span class="font-semibold text-gray-900 dark:text-gray-50">{{ attendance.offer.name }}</span>
                                            <span class="text-gray-700 dark:text-gray-200">{{ (attendance.offer.fee/100)|format_currency('EUR') }}</span>
                                        </label>
                                    </div>
                                    <div class="ml-3 flex h-6 items-center">
                                        <input id="{{ "attendance-#{attendance.id}" }}"
                                               type="checkbox"
                                               data-model="selectedItems[]"
                                               value="{{ attendance.id }}"
                                               class="h-4 w-4 rounded border-gray-300 text-primary-600 focus:ring-primary-600">
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </fieldset>

                {% endfor %}

                <p class="mt-6 font-bold text-orange-700 dark:text-orange-400 text-base">Sie
                    bezahlen {{ (this.totalAmount/100)|format_currency('EUR') }}.</p>

                <div class="mt-5">
                    <button type="button"
                            data-action="live#emit"
                            data-live-event-param="proceedToAddress"
                            class="inline-flex items-center rounded-md bg-primary-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-primary-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-500">
                        Weiter zur Rechnungsadresse
                    </button>
                </div>

            {% elseif "address" == step %}

                {{ _self.steps(step) }}

                {{ form_start(form, {
                    attr: {
                        'data-action': 'live#action:prevent',
                        'data-live-action-param': 'saveAddress'
                    }
                }) }}

                <div>
                    <div class="mt-12">
                        <h2 class="text-lg leading-6 font-medium text-gray-900 dark:text-white">Rechnungsadresse eingeben</h2>
                        <p class="mt-1 text-sm text-gray-500 dark:text-gray-200">Wir brauchen Ihre Anschrift für die Erstellung des
                            Zahlungsbelegs.</p>
                    </div>

                    <div class="mt-6">

                        <div class="grid gap-6 sm:grid-cols-7">
                            <div class="sm:col-span-4">
                                {{ form_row(form.street) }}
                            </div>
                            <div class="sm:col-span-2 sm:col-start-1">
                                {{ form_row(form.postal) }}
                            </div>
                            <div class="sm:col-span-3">
                                {{ form_row(form.city) }}
                            </div>
                            <div class="sm:col-span-2">
                                {{ form_row(form.country) }}
                            </div>
                        </div>

                        <div class="mt-6">
                            {{ form_row(form.submit) }}
                        </div>

                    </div>
                </div>

                {{ form_end(form) }}

            {% elseif "confirm" == step %}

                {{ _self.steps(step) }}

                <div class="mt-12">
                    <h2 class="text-lg leading-6 font-medium text-gray-900 dark:text-white">Eingaben prüfen</h2>
                    <p class="mt-1 text-sm text-gray-500 dark:text-gray-200">Sie werden im nächsten Schritt zur Bezahlung
                        weitergeleitet.</p>
                </div>

                <div class="mt-6 text-gray-700 dark:text-gray-300 space-y-1">
                    <p><span class="font-medium">Angebote bezahlen</span> {{ this.selectedAttendances|length }} Angebote
                    </p>
                    <p><span class="font-medium">Zahlbetrag:</span> {{ (this.totalAmount/100)|format_currency('EUR') }}
                    </p>
                    <p><span class="font-medium">Rechnungsadresse:</span>
                        <span class="block">{{ app.user.name }}<br>{{ app.user.street }}
                            <br>{{ app.user.postal }} {{ app.user.city }}</span>
                    </p>
                </div>
                <div class="mt-6">
                    <button type="button"
                            data-action="live#action"
                            data-live-action-param="redirectToPay"
                            class="inline-flex items-center rounded-md bg-primary-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-primary-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-500">
                        {{ (this.totalAmount/100)|format_currency('EUR') }} bezahlen
                    </button>
                </div>

            {% elseif "checkPayment" == step %}

                {% set status = this.interpretRedirect(app.request) %}
                {% if 1 == status %}

                    <div x-data=""
                         x-init="$nextTick(() => { $dispatch('modal:open', { url: '{{ path('applications', {checkPayment: 1}) }}', rounded: true, size: 'sm' }) })">
                    </div>

                    <p class="text-sm text-gray-500">Zahlung wird verarbeitet …</p>

                {% elseif 2 == status %}

                    <div class="max-w-sm mx-auto">
                        {% include '@FerienpassCms/partial/modal_confirm.html.twig' with {
                            headline: 'Zahlung getätigt!',
                            text: 'Sie haben eine Zahlung getätitgt. Wir warten noch, bis die Bank uns die Zahlung bestätigt. Erstmal gibt es aber nichts Weiteres zu tun. Überprüfen Sie, ob ggf. weitere Zahlungen fällig sind.',
                            href: path('applications'),
                            linkText: 'Zurück zur Übersicht'
                        } %}
                    </div>

                {% else %}

                    <div class="max-w-sm mx-auto">
                        {% include '@FerienpassCms/partial/modal_error.html.twig' with { headline: 'Zahlung fehlgeschlagen', text: 'Die Zahlung wurde abgebrochen oder es ist ein unerwarteter Fehler aufgetreten.', href: path('applications'), linkText: 'Nochmals versuchen' } %}
                    </div>

                {% endif %}

            {% else %}

                <h3 class="text-lg font-bold leading-6 text-gray-900 dark:text-gray-50">{{ payDays.edition.name }}: <span
                            class="font-medium">Teilnahmegebühren
                        jetzt bezahlen</span></h3>

                <div class="mt-2 text-sm">
                    <p class="text-gray-700 dark:text-gray-200">Bitte bedenken Sie, dass Sie die Teilnahmegebühren im Vornherein
                        bezahlen
                        müssen, da die Anmeldungen
                        andernfalls storniert werden.</p>
                    <p class="mt-2 font-semibold text-orange-700 dark:text-orange-400">Die Frist zur Bezahlung der Teilnahmegebühren
                        endet
                        am {{ payDays.periodEnd|format_datetime('long') }}.</p>
                    <p class="mt-2 text-gray-500 dark:text-gray-300">Sie zahlen die Teilnahmegebühren mit unserem Zahlungsanbieter
                        „pmPayment“. Ihnen stehen folgende Zahlungsarten zur Verfügung: giropay, Lastschrift</p>
                </div>

                <div class="mt-5">
                    <button type="button"
                            data-action="live#emit"
                            data-live-event-param="proceedToSelect"
                            class="inline-flex items-center rounded-md bg-primary-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-primary-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-500">
                        Teilnahmegebühren bezahlen
                    </button>
                </div>

            {% endif %}
        </div>

    {% endif %}

</div>
